		*{
			padding: 0;
			margin: 0;
		}
		body{
			font-size: 15px;
			background-color: #f5f5f5;
			font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei UI","Microsoft YaHei",SimHei,"ו",SimSun,Sans-Serif; 
			/*min-width: 1000px;*/
		}	
		li{
			list-style: none;
		}
		.admin-manange{
			padding:35px 50px;
		}
		.nav-search{
			/*padding-bottom: 25px;*/
			/*height: 35px;*/
			/* display: flex;/ */
			/* justify-content: space-between; */
		}
		.date-search,.search_input,.bth-left ul{
			float: left;
			margin-bottom: 25px;
		}
		.nav-search .bth-left .search_input,.begin-date,.end-date{
			padding:5px 33px 5px 5px;
			height: 23px;
			background-color: #fff;
			border:1px solid #ddd;
			position: relative;
			border-radius: 5px;
		}
		.nav-search .bth-left .search_input{
			width: 220px;
			margin-right: 15px;
			margin-bottom: 25px;
		}
		.nav-search .bth-left .search_input input,.begin-date input,.end-date input{
			width: 100%;
			height: 100%;
			outline: none;
			border:none;
		}
		.nav-search .bth-left .search_input img{
			width: 20px;
			height: 20px;
			position: absolute;
			top:8px;
			right: 5px;
		}
		.date-search{
			margin-right : 15px;
		}
		.begin-date,.end-date{
			display: inline-block;
			width: 130px;			
		}
		.begin-date img,.end-date img{
		    width: 20px;
		    height: 20px;
		    position: absolute;
		    top: 6px;
		    right: 5px;
		}
		.bth-left ul li,.bth-right{
			display: inline-block;
			padding:4px 8px;
			border:1px solid #55a9fe;
			border-radius: 5px;
			background-color: #fff;
			color:#55a9fe;
			
		}
		.bth-left ul li.select{
			background-color: #55a9fe;
			color:#fff;
		}
		.bth-left ul li + li{
			margin-left: 5px
		}
		.bth-right img{
			width: 18px;
			height: 18px;
			vertical-align: middle;
		}
/*--------------------------------*/
		.info{
			height: 120px;
		}
		.info .info-item{
			float: left;
			width: calc((100% / 3) - 10px);
			height: 120px;
			border:1px solid #ddd;
			background-color: #fff;
			border-radius: 10px;
		}
		.info-item .info-title{
			width: calc(100% - 30px);
			padding:10px 15px;
			display: flex;
			justify-content: space-between;
			font-size: 16px;
			border-bottom: 1px solid #ddd;
		}
		.info-item .info-title span{
			display: inline-block;
			font-size: 15px;
			padding: 3px 8px;
			border-radius: 20px;
		}
		.info-item .info-content{
			width: calc(100% - 30px);
			padding:20px 15px;
			font-size: 25px;
		}
		.info .info-item + .info-item{
			margin-left: 10px;
		}
/*------------------------------------*/
		.count div{
			display:inline-block;
			width: calc((100% / 2) - 10px);
			height: 420px;
			border:1px solid #ddd;
			background-color: #fff;
			border-radius: 10px;
			/* min-width:707px; */
		}

/*-----------------------------------*/
		.table{
			width: calc(100% - 85px) ;
			height: 420px;
			border:1px solid #ddd;
			background-color: #fff;
			border-radius: 10px;
			margin-top: 15px;
			padding:30px 40px;
		}
		.table-title{
			font-size:20px;
			line-height: 50px;
		}
		.table table{
			width: 100%;
		}
		.table table tr{
			width: 100%;
			height: 60px;
		}
		.table table tr th,.table table tr td{
			width: 25%;	
			font-size: 16px;
			text-align: center;
		}